<div class="sharing">
  {% if site.twitter_tweet_button %}
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.facebook_like %}
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
  {% endif %}
  {% if site.baidu_share %}
  <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" style="display:inline-block;height:20px;float:none;">
      <a class="bds_renren"></a>
      <a class="bds_tsina"></a>
      <a class="bds_ff"></a>
      <a class="bds_tqq"></a>
      <a class="bds_qzone"></a>
      <span class="bds_more" style="height:20px;padding-top:0;">更多</span>
  <a class="shareCount"></a>
  </div>
  {% endif %}
</div>
